<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Left side column. contains the logo and sidebar -->
<aside th:fragment="sidebar" class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img th:src="@{/static/AdminLTE/dist/img/user2-160x160.jpg}"
					class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>Alexander Pierce</p>
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		<!-- search form -->
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control"
					placeholder="Search..."> <span class="input-group-btn">
					<button type="submit" name="search" id="search-btn"
						class="btn btn-flat">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</form>
		<!-- /.search form -->
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu" data-widget="tree">
			<li class="header">MAIN NAVIGATION</li>
			<li th:each="module1 : ${session.session_user.modules}" 
			  th:class="${not #lists.isEmpty(module1.children)} ? 'treeview'">
			    <a href="#" th:href="${#strings.isEmpty(module1.path)} ? '#' : @{${module1.path}}">
                    <i th:class="${module1.logo}"></i>
                    <span th:text="${module1.name}">模块名称</span>
                    <span th:if="${not #lists.isEmpty(module1.children)}" class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul th:if="${not #lists.isEmpty(module1.children)}" class="treeview-menu">
                    <li th:each="module2 : ${module1.children}" >
                        <a th:href="@{${module2.path}}" >
                            <i th:class="${module2.logo}"></i> [[${module2.name}]]
                        </a>
                    </li>
                </ul>
            </li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>
</body>
</html>